/* default sass file */
@import "compass";
// variables

// mixins
@mixin padding($padding:10px){
  padding:$padding;
}
@mixin centered-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
// tags
body{
  *{
    box-sizing: border-box;
  }
  // скрыть всё, что после #container - все расширения
  &>*:not(:nth-child(1)){
    display: none;
  }
  background-color: white;
  h1, h2, h3, h4, h5 {
    font-family: Helvetica, Arial, sans-serif;
  }
  font-size: 18px;
}
footer{
  background-color: #666;
  height: 60px;
}
main{
  background-color: lightcyan;
}
nav{
  height: 40px;
}
// classes

// end classes

// ids
#container{
  height: 100%;
}
#footer, #main{
  margin: auto;
  width: 90%;
}
#footer{
  background-color: #ddd;
  @include centered-vertical;
}
#main{
  background-color: lightyellow;
  margin-bottom: -60px;
  min-height: 100%;
  padding: 10px 25px;
  padding-bottom: 60px;
}
#nav{
  background: yellow;
  a{
    padding:0 10px;
    &:not(:last-child){
      border-right: solid 1px #999;
   } //
  }
}
#nav, #logo{
  @include centered-vertical;
}